<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackme Store</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

</head>
<!-- HEADER STORE -->
<header class="headerStore">
    <div class="containerNav">
        <div>
            <img src="../assets/imagenes/blacklogo3.png" alt="logomarca" class="logo">

        </div>
        <div>

            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">Shop Now</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="social">
            <img class="instagram" src="../assets/imagenes/insta75.png" alt="instagram" style="width: 50px;">
            <img src="../assets/imagenes/face75.png" alt="facebook" class="face" style="width: 50px;">
        </div>



    </div>

</header>
<!-- SECCION STORE -->

</body>
<section>

</section>

<section class="containerS3">
    <div class="store">
        <h1>PRODUCTS</h1>
        <br>
    </div>
    <div class="searchBox">
        <input class="searchTxt" type="text" name="" placeholder="Busca tu producto">
        <a class="searchBtn" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
    </div>
    <div class="gridS3">
        <div><img src="../assets/imagenes/sale/1.jpg" alt=""></div>
        <div><img src="../assets/imagenes/sale/2.jpg" alt=""></div>
        <div><img src="../assets/imagenes/sale/3.jpg" alt=""></div>
        <div><img src="../assets/imagenes/sale/4.jpg" alt=""></div>
        <div><img src="../assets/imagenes/sale/5.jpg" alt=""></div>
        <div><img src="../assets/imagenes/sale/6.jpg" alt=""></div>
        <div><img src="../assets/imagenes/sale/7.jpg" alt=""></div>
        <div><img src="../assets/imagenes/sale/8.jpg" alt=""></div>
        <div><img src="../assets/imagenes/sale/9.jpg" alt=""></div>
        <div><img src="../assets/imagenes/sale/boxer.jpg" alt=""></div>
    </div>
    <!-- Store -->
   

    <!-- Footer -->
</section>
<footer>
    <div class="containerFooter">
        <div>
            <ul>
                <li>
                    <H1 style="font-size: 30PX;">SITE</H1>
                </li>
                <li>Shop Now</li>
                <li>About</li>
                <li>Store</li>
                <li>Contact</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <H1 style="font-size: 30PX;">LEGAL</H1>
                </li>
                <li>Terms and conditions</li>
                <li>Retur policy</li>
            </ul>



        </div>
        <div>

            <img class="instagram" src="../assets/imagenes/insta75.png" alt="instagram"
                style="width: 50px; padding-top: 10px;">
            <img src="../assets/imagenes/face75.png" alt="facebook" class="face"
                style="width: 50px; padding-top:10px ;">
        </div>

    </div>

    </div>
</footer>

</html>